header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  background: #1d2770;
  color: white;
  font-family: "Interstate";
  border-bottom: 5px solid #ffffff;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.header-text {
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
}

.logo {
  max-width: 50%;
  max-height: 50%;
}

.logo img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Interstate";
  line-height: 1.6;
}

h2 {
  margin: 0;
  color: #ffffff;
  text-align: center;
}

.center-spelregels {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 10px;
  background: #1ebdb5;
  border-bottom: 5px solid #1d2770;
}

.spelregels {
  list-style-type: disc;
  margin: 10px;
  text-align: left;
  margin-bottom: 20px;
}

h3 {
  margin: 0;
  color: #1ebdb5;
  text-align: center;
}

.teamcontainer {
  display: flex;
  gap: 20px;
  width: 30%;
  margin: 0 auto;
  justify-content: center;
}

.teambox {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-container input {
  margin: 5px;
  padding: 10px;
  width: 200px;
}

.submit-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1d2770;
  color: white;
  border-radius: 5px;
  border: outset 5px #1ebdb5;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.submit-button:hover {
  background-color: #1ebdb5;
}

#output-container {
  text-align: center;
  margin-top: 20px;
  display: none;
}

#toggle:checked ~ .input-container {
  display: none;
}

#toggle:checked ~ #output-container {
  display: block;
}

.holes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hole-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px;
}

.hole10,
.hole11,
.hole12,
.hole13,
.hole14,
.hole15,
.hole16,
.hole17,
.hole18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 0 10px;
}

.hole10 img,
.hole11 img,
.hole12 img,
.hole13 img,
.hole14 img,
.hole15 img,
.hole16 img,
.hole17 img,
.hole18 img {
  width: 80%;
  height: auto;
}

.hole10 input,
.hole11 input,
.hole12 input,
.hole13 input,
.hole14 input,
.hole15 input,
.hole16 input,
.hole17 input,
.hole18 input {
  margin-top: 10px;
  width: 80%;
}

.leaderboardcontainer {
  text-align: center;
  margin: 20px;
}

.leaderboard-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1ebdb5;
  color: rgb(0, 0, 0);
  border: inset, 5px, #1d2770;
  border-radius: 4px;
  cursor: pointer;
}
.leaderboard-btn:hover {
  background-color: #1d2770;
  color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .hole10,
  .hole11,
  .hole12,
  .hole13,
  .hole14,
  .hole15,
  .hole16,
  .hole17,
  .hole18 {
    width: 30%;
    margin: 0 50px;
  }
  .hole-container {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1em;
  }
  .logo {
    max-width: 80px;
    max-height: 80px;
  }
  h2 {
    text-align: center;
  }
  .spelregels {
    width: 85%;
  }
}
