html, body {
    overflow-x: hidden;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #1d2770;
    color: white;
    font-family: 'Interstate';
}

.header {
    border: 2px solid black;
    width: 100%;
    position: relative;
  }
  
  .wrapper {
    width: 100%;
    position: relative;
    margin: 20px 10px;
  }
  
  .logo {
    display: flex;
  }
  
  .logo img {
    width: 100px;
  }
  
  .header-text {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

body {
    margin: 0;
    font-family: 'Interstate';
    line-height: 1.6;
}

h2 {
    margin: 0;
    text-align: left;
    color: #1ebdb5;
    padding-left: 20px;
}

.spelregelscontainer {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.spelregelsbox {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px 0;
}

h3 {
    margin: 0;
    text-align: center;
    color: #1ebdb5;
    padding-left: 20px;
}

.teamcontainer {
    display: flex;
    gap: 20px;
    width: 30%;
    margin: 0 auto;
    justify-content: center;
}

.teambox {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.input-container input {
    margin: 5px;
    padding: 10px;
    width: 200px;
}

.submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1d2770;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.submit-button:hover {
    background-color: #16205a;
}

#output-container {
    text-align: center;
    margin-top: 20px;
    display: none;
}

/* Show output and hide inputs when checkbox is checked */
#toggle:checked ~ .input-container {
    display: none;
}

#toggle:checked ~ #output-container {
    display: block;
}

.holes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hole-container {
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
}

.hole10, .hole11, .hole12, .hole13 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 5px;
}

.hole10 img, .hole11 img, .hole12 img, .hole13 img {
    width: 80%;
    height: auto;
}

@media (min-width: 768px) {
    .flex-container {
        width: 75%;
    }

    .hole10, .hole11, .hole12, .hole13 {
        width: 30%;
        margin: 0 50px;
    }

    .hole-container {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1em;
    }
    .header-text {
        text-align: left;
        padding-left: 150px;
}